
@media only screen and (max-width: 2800px){


	#homepageContainer{
		
		height: 963px;
		display: block;
		background-image: url("../../Media/laptop-image-full-1900.png");
		background-size: auto;
		background-position: center;

	}

	#homepageBackgroundImage{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -100;
	}
	#homepageLogoImage{
		position: absolute;
		width: 8%;
		height: 8%;
		top: 1%;
		left: 47%;
	}
	#homepageHomeIcon{
		position: absolute;
		top: 80%;
		left: 48.9%;
	}
	#homepageTechIcons{
		position: absolute;
		top: 9%;
		left: 26%;
		max-width: 50%;

	}
	#homepageTechIcons button{
		margin: .3em;
	}
	#homepageComputerScreenContainerTop{
		min-width: 50%;
		text-align: center;
		position: absolute;
		top: 27%;
		left: 24%;
		
	}
	#homepageComputerScreenContainerTop a{
		padding-left: 10%;
	}
	#homepageProjectSeperating{
		position: absolute;
		top: 39%;
		left: 30%;
		width: 42%;
		color: white;
		display: inline-flex;
	}
	#homepageLeftHorizontal{
		width: 34%;
	}
	#homepageRightHorizontal{
		width: 35%;
	}
	#homepageProjectLinks{
		position: absolute;
		top: 45%;
		left: 25.5%;
		display: flex;
		flex-flow: wrap;
		line-height: 3.5;
		max-height: 29%;
		overflow: auto;
		min-width: 50%;
		max-width: 50%;
		justify-content: space-evenly;
	}
}


@media only screen and (min-width: 601px) and (max-width: 1000px){

	#homepageContainerTablet{
		width: 100%;
		height: 100%;
	}

	#homepageBackgroundImageTablet{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -100;
	}
	#homepageLogoImageTablet{
		position: absolute;
		width: 10%;
		height: 5%;
		top: 1%;
		left: 46%;
	}
	#homepageHomeIconTablet{
		position: absolute;
		top: 76%;
		left: 46.4%;
	}
	#homepageTechIconsTablet{
		position: absolute;
		top: 6%;
		left: 19%;
		max-width: 63%;

	}
	#homepageTechIconsTablet button{
		margin: .3em;
	}
	#homepageComputerScreenContainerTopTablet{
		position: absolute;
		top: 26%;
		left: 42%;
		display: grid;
	}
	#homepageComputerScreenContainerTopTablet a{
		margin-top: 4%;
	}

	#homepageProjectSeperatingTablet{
		position: absolute;
		top: 45%;
		left: 29%;
		width: 42%;
		color: white;
		display: inline-flex;
	}
	#homepageLeftHorizontalTablet{
		width: 27%;
	}
	#homepageRightHorizontalTablet{
		width: 31%;
	}
	#homepageProjectLinksTablet{
		position: absolute;
		top: 50%;
		left: 33%;
		min-width: 33%;
		justify-items: center;
		justify-content: center;
		min-height: 12%;
		display: grid;
	}
}
/* ----------------------------MOBILE 600px -------------------------------------------------------------------------------------- */
@media only screen and (max-width: 600px){

	#homepageContainerMobile{
		width: 100%;
		height: 100%;
	}

	#homepageBackgroundImageMobile{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -100;
	}
	#homepageLogoImageMobile{
		position: absolute;
		width: 10%;
		height: 5%;
		top: 1%;
		left: 46%;
	}
	#homepageHomeIconMobile{
		position: absolute;
		top: 88.7%;
		left: 43.1%;
	}
	#homepageTechIconsMobile{
		position: absolute;
		top: 6%;
		left: 12%;
		max-width: 75%;

	}
	#homepageTechIconsMobile button{
		margin: .3em;
	}
	#homepageComputerScreenContainerTopMobile{
		position: absolute;
		top: 28%;
		left: 33%;
		display: grid;
		min-width: 33%;
		justify-items: center;
		justify-content: center;
	}
	#homepageComputerScreenContainerTopMobile a{
		margin-top: 20%;
	}

	#homepageProjectSeperatingMobile{
		position: absolute;
		top: 52%;
		left: 24%;
		width: 51%;
		color: white;
		display: inline-flex;
	}
	#homepageLeftHorizontalMobile{
		width: 24%;
	}
	#homepageRightHorizontalMobile{
		width: 25%;
	}
	#homepageProjectLinksMobile{
		position: absolute;
		top: 57%;
		left: 32%;
		min-width: 33%;
		justify-items: center;
		justify-content: center;
		min-height: 12%;
		display: grid;
	}

}
