
@media only screen and (max-width: 2800px){
	#homepageContainer{
		width: 100%;
		height: 100%;
	}

	#backgroundImage{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -100;
	}
	#logoImage{
		position: absolute;
		width: 8%;
		height: 8%;
		top: 1%;
		left: 47%;
	}
	#homeIcon{
		position: absolute;
		top: 70%;
		left: 48.9%;
	}
	#techIcons{
		position: absolute;
		top: 38%;
		left: 5%;
		max-width: 20%;

	}
	#techIcons button{
		margin: .3em;
	}
	#computerScreenContainerTop{
		position: absolute;
		justify-content: space-evenly;
		top: 31%;
		left: 30%;
		min-width: 41%;
		max-height: 28%;
		display: inline-flex;
	}
	.computerScreenIcon{
		background-color: transparent;
		margin-left: 2em;
	}
	.computerScreenIcon p{
		margin-right: .5em;
		color: white;
	}

	#projectSeperating{
		position: absolute;
		top: 45%;
		left: 30%;
		width: 42%;
		color: white;
		display: inline-flex;
	}
	#leftHorizontal{
		width: 34%;
	}
	#rightHorizontal{
		width: 35%;
	}
	#projectLinks{
		position: absolute;
		justify-content: center;
		top: 50%;
		left: 30%;
		min-width: 41%;
		color: white;
		display: inline-flex;
	}
}

 @media only screen and (max-width: 800px){

	#homepageContainerMobile{
		width: 100%;
		height: 100%;
	}

	#backgroundImageMobile{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -100;
	}
	#logoImageMobile{
		position: absolute;
		width: 10%;
		height: 5%;
		top: 1%;
		left: 46%;
	}
	#homeIconMobile{
		position: absolute;
		top: 76%;
		left: 45.9%;
	}
	#techIconsMobile{
		position: absolute;
		top: 38%;
		left: 5%;
		max-width: 20%;

	}
	#techIconsMobile button{
		margin: .3em;
	}
	#computerScreenContainerTopMobile{
		position: absolute;
		justify-content: space-evenly;
		top: 31%;
		left: 34%;
		min-width: 32%;
		max-height: 28%;
		display: inline-flex;
	}

	#computerScreenContainerTopMobile p{
		margin-right: .5%;
		color: white;
		font-size: 2vw;
	}

	#projectSeperatingMobile{
		position: absolute;
		top: 45%;
		left: 29%;
		width: 42%;
		color: white;
		display: inline-flex;
	}
	#leftHorizontalMobile{
		width: 27%;
	}
	#rightHorizontalMobile{
		width: 31%;
	}
	#projectLinksMobile{
		position: absolute;
		top: 50%;
		left: 33%;
		min-width: 41%;
		color: white;
		display: inline-flex;
	}
	#projectLinksMobile p{
		color: white;
		font-size: 2vw;
		margin-left: .7vw;
		margin-right: .7vw;
	}

}
