@media only screen and (min-width: 1000px){
	#emailSentContainer{
		display: block;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/laptop-image-full-edited.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* background-position: 50% 100%; */
		text-align: center;
		margin: auto;
		padding: 0;
	}
	#emailSentLogoImage{
		position: absolute;
		width: 8%;
		height: 75px;
		top: 5px;
		left: 47%;
	}
	#emailSentHomeIcon{
		position: absolute;

	}
	#emailReplyMessage{
		position: absolute;
		width: 40%;
		max-width: 50%;
		color: white;
	}
}
@media only screen and (min-width: 700px) and (max-width: 999px){
	#emailSentContainerTablet{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/tablet-image-full.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* background-position: 50% 50%; */
		text-align: center;
		margin: auto;
		padding: 0;
	}
	
	#emailSentBackgroundImageTablet{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -10;
	}
	#emailSentHomeIconTablet{
		position: absolute;

	}
	#emailSentReplyMessageTablet{
		position: absolute;
		min-width: 45%;
		justify-content: center;
		color: white;
	}
	
}

/* ----------------------------MOBILE 699px -------------------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) and (max-width: 699px){

	#emailSentContainerMobile{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/phone-image-full-edited.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		margin: auto;
		padding: 0;
	}

	#emailSentLogoImageMobile{
		position: absolute;
		width: 10%;
		height: 5%;
		top: 1%;
		left: 46%;
	}
	#emailSentHomeIconMobile{
		position: absolute;
	}
	#emailSentReplyMessageMobile{
		position: absolute;
		min-width: 45%;
		color: white;
	}

}


@media only screen and (max-width: 599px){
	#emailSentContainerPhone{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/phone-image-full-edited-cropped.png");
		background-size: 120% 100%;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		margin: auto;
		padding: 0;
	}
	
	#emailSentBackgroundImagePhone{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -10;
	}
	#emailSentHomeIconPhone{
		position: absolute;
		top: 88.9%;
		left: 44.9%;
	}
	#emailSentReplyMessagePhone{
		position: absolute;
		font-size: x-small;
		top: 32%;
		width: 50%;
		left: 24.5%;
		color: white;
	}
}