

    #page404Container{
		display: block;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/laptop-image-full-edited.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* background-position: 50% 100%; */
		text-align: center;
		margin: auto;
		padding: 0;
	}
	

	#page404Message{
		position: absolute;
		color: white;
		max-width: 40%;
	}
	#page404HomeIcon{
		position: absolute;
		top: 770px;
		left: 48.9%;
    }
