
#websiteUrl{
    background-color: black;
    color: white;
    font-size: 24px;
    margin: 0;
}
#cardDescription{
    font-size: 18px;
    color: white;
}
#clockSpecialty{
    width: 22vh;
}
li.slide.selected{
    padding-top: 2em;
}

div .card{
    z-index: 0;
    color: white;
    background-color: black;
    padding: 2em;
}

.waves-block{
    height: 51vh;
    margin-bottom: 2em;
}
p{
    font-size: 20px;
}
.card-reveal p{
    color: black;
}
.card .card-image{
    border-bottom: red solid .1em;
    text-align: -webkit-center;
}

.card .card-title{
    font-size: 24px;
    padding-left: 20px;
}

.card p a{
    font-size: 20px;
}

.card .card-content{
    color: white;
    background-color: black;
    padding-top: 1em;
}
.card-content span{
    font-size: 20px;
    padding-left: 2em;
}

/* Carousel and slider-wrapper allow duv to takes up the whole screen instead of 400px */
.carousel{
    height: auto;
}
.slider-wrapper{
    height: 90vh !important;
}