
@media only screen and (min-width: 1000px){

    #aboutpageContainer{
		display: block;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/laptop-image-full-edited.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* background-position: 50% 100%; */
		text-align: center;
		margin: auto;
		padding: 0;
    }
    
    #aboutHomeIcon{
		position: absolute;
		top: 770px;
		left: 48.9%;
    }
    #aboutLogoImage{
		position: absolute;
		width: 8%;
		height: 75px;
		top: 5px;
		left: 47%;
    }

    #aboutMyStatement{
        position: absolute;
        top: 45%;
        left: 31%;
        max-width: 41%;
        color: white;
    }
    #aboutSocialMedia{
        position: absolute;
        top: 55%;
        left: 27%;
        justify-content: center;
        justify-items: center;
        min-width: 46%;
    }
    #aboutSocialMedia a{
        margin-left: 5%;
    }
    #aboutGithubAbout{
        position: absolute;
        top: 50%;
        left: 43%;
    }
    #aboutLinkedinAbout{
        position: absolute;
        top: 50%;
        left: 53%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px){

    #aboutpageContainerTablet{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/tablet-image-full.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* background-position: 50% 50%; */
		text-align: center;
		margin: auto;
		padding: 0;
    }
    
    #aboutLogoImageTablet{
		position: absolute;
		width: 14%;
		height: 75px;
		top: 5px;
		left: 45%;
    }
    #aboutHomeIconTablet{
		position: absolute;
		top: 50%;
		left: 45.9%;
    }

    #aboutMyStatementTablet{
        position: absolute;
        top: 38%;
        left: 31%;
        max-width: 37%;
        color: white;
    }
    #aboutSocialMediaTablet{
        position: absolute;
        top: 50%;
        left: 32%;
        justify-content: center;
        min-width: 37%;
    }
    #aboutSocialMediaTablet a{
        margin: .5%;   
    }
    #aboutGithubAboutTablet{
        position: absolute;
        top: 50%;
        left: 43%;
    }
    #aboutLinkedinAboutTablet{
        position: absolute;
        top: 50%;
        left: 53%;
    }

}

/* ----------------------------MOBILE 600px -------------------------------------------------------------------------------------- */
@media only screen and (min-width: 600px) and (max-width: 699px){

    #aboutpageContainerMobile{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/phone-image-full-edited.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		margin: auto;
		padding: 0;
    }
    

    #aboutLogoImageMobile{
        margin-top: 1%;
        width: 13%;
    }
    #aboutHomeIconMobile{
        position: absolute;
		top: 88.5%;
		left: 44.9%;
    }

    #aboutMyStatementMobile{
        position: absolute;
        top: 35%;
        left: 33%;
        max-width: 35%;
        color: white;
    }
    #aboutSocialMediaMobile{
        position: absolute;
        top: 50%;
        left: 33%;
        justify-content: center;
        min-width: 33%;
    }
    #aboutSocialMediaMobile a{
        margin-left: 5%;
    }
    #aboutGithubAboutMobile{
        position: absolute;
        top: 50%;
        left: 43%;
    }
    #aboutLinkedinAboutMobile{
        position: absolute;
        top: 50%;
        left: 53%;
    }
}




/* ----------------------------Phone 600px -------------------------------------------------------------------------------------- */
@media only screen and (max-width: 599px){

    #aboutpageContainerPhone{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/phone-image-full-edited-cropped.png");
		background-size: 120% 100%;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		margin: auto;
		padding: 0;
    }
    
    #aboutLogoImagePhone{
        margin-top: 1%;
        width: 13%;
    }
    #aboutHomeIconPhone{
		position: absolute;
		top: 88.7%;
		left: 43.1%;
    }

    #aboutMyStatementPhone{
        position: absolute;
        top: 38%;
        left: 21%;
        max-width: 58%;
        color: white;
    }
    #aboutSocialMediaPhone{
        position: absolute;
        top: 53%;
        left: 22%;
        justify-content: center;
        min-width: 55%;
    }
    #aboutSocialMediaPhone a{
        margin-left: 5%;
    }
    #aboutGithubAboutPhone{
        position: absolute;
        top: 50%;
        left: 43%;
    }
    #aboutLinkedinAboutPhone{
        position: absolute;
        top: 50%;
        left: 53%;
    }
}