
body{
	background-color: lightgrey;
}

#contactForm form{

}

#contactForm .formElements{
	margin: 1em;
}

#contactForm label{
	display: inline-block;
	width: 27%;


}

#contactForm input{

	
}

#contactForm textarea{

	width: 75%;
	height: 200px;
}

p{
	

}