@media only screen and (min-width: 501px){

	#homepageContainer{
		width: 100%;
		height: 100%;
	}
	
	#backgroundImage{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -10;
	}
	#homeIcon{
		position: absolute;
		top: 70%;
		left: 48.9%;
	}
	/* First Name / Last Name / Email / Message */
	p.contactExpected{
		font-size: large;
		margin-right: 22%;
	}

	#firstnameContact{
		position: absolute;
		display: -webkit-inline-box;
		min-width: 40%;
		top: 31%;
		left: 35%;
		color: white;
	}
	
	#firstnameContact input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		left: 23%;
		width: 40%;
		background-color: white;
	}
	#lastnameContact{
		position: absolute;
		display: -webkit-inline-box;
		min-width: 40%;;
		top: 36%;
		left: 35%;
		color: white;
	}
	#lastnameContact input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		left: 23%;
		width: 40%;
		background-color: white;
	}
	#emailContact{
		position: absolute;
		display: -webkit-inline-box;
		min-width: 40%;
		top: 41%;
		left: 35%;
		color: white;
	}
	#emailContact input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		left: 23%;
		width: 40%;
		background-color: white;
	}
	#messageContact{
		position: absolute;
		top: 46%;
		left: 49%;
		color: white;
	}
	#textareaContact{
		position: absolute;
		padding-left: .3%;
		top: 50%;
		left: 35%;
		width: 33%;
		height: 15%;
		background-color: white;
	}
	#submitButton{
		position: absolute;
		top: 66%;
		left: 45.5%;
		width: 11%;
		height: 2%;
		padding: .2%;
	}

}
@media only screen and (max-width: 500px){
	#contactContainerMobile{
		width: 100% !important;
		height: auto !important;
	}


	#contactFormMobile{

		/* background-color: #36454F; */
		padding: 3px;
		margin-top: 18px;
		color: white;
		border-color: darkgreen !important;
	}

	.formElementsMobile input{
		height: 3vh !important;
		font-size: .8em !important;
	}

	#contactFormMobile .formElementsMobile{
		margin: 1em;
		height: 9vh;
	}

	#contactFormMobile label{
		font-size:2.3vh;

	}
	#submitButtonMobile{
		width: 18vw;
		height: 3vh;
		color: black !important;
		border-radius: 15px;
		margin-top: 18vh;
	}
	#submitbutton:hover{
		width: 20vw;
		background-color: darkslategrey;
	}

	/* placeholder font-size */
	#contactFormMobile input{
		color: white;
		font-size: 1.8vh !important;
	}


	/* input form bottom border color */
	#contactFormMobile input:focus{
		outline: none !important;
		border-bottom: 1px solid darkgreen;
	}
	#contactFormMobile textarea:focus{
		outline: none !important;
		border: 1px solid darkgreen;
	}

	#contactFormMobile textarea{
		color: white;
		width: 100%;
		height: 22vh;
		font-size: 2.7vh;
		resize: none;
	}
}