
@media only screen and (min-width: 1000px){

	#contactpageContainer{
		display: block;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/laptop-image-full-edited.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* background-position: 50% 100%; */
		text-align: center;
		margin: auto;
		padding: 0;

	}
	#contactLogoImage{
		position: absolute;
		width: 8%;
		height: 75px;
		top: 5px;
		left: 47%;
	}
	
	#contactHomeIcon{
		position: absolute;
		top: 770px;
		left: 48.9%;
	}
	/* First Name / Last Name / Email / Message */
	p.contactExpected{
		font-size: large;
		margin-right: 22%;
	}

	#contactFirstname{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 50%;
		height: 5%;
		top: 35%;
		left: 33%;
		color: white;
	}
	
	#contactFirstname input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		left: 23%;
		max-width: 31%;
		background-color: white;
	}
	#contactLastname{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 50%;
		height: 5%;
		top: 39%;
		left: 33%;
		color: white;
	}
	#contactLastname input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactEmail{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 50%;
		height: 5%;
		top: 43%;
		left: 33%;
		color: white;
	}
	#contactEmail input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactMessage{
		position: absolute;
		top: 48%;
		left: 48%;
		color: white;
	}
	#contactTextarea{
		position: absolute;
		top: 53%;
		left: 29.5%;
		width: 43%;
		max-width:45%;
		height: 175px;
		background-color: white;
		justify-content: center;
		resize: none;
	}
	#contactSubmitButton{
		position: absolute;
		top: 74%;
		left: 45.5%;
		width: 10%;
		max-width: 25%;
		min-height: 15px;
		padding: .2%;
	}

}
@media only screen and (min-width: 700px) and (max-width: 999px){
	#contactpageContainerTablet{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/tablet-image-full.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* background-position: 50% 50%; */
		text-align: center;
		margin: auto;
		padding: 0;
	}
	#contactLogoImageTablet{
		position: absolute;
		width: 14%;
		height: 75px;
		top: 5px;
		left: 45%;
		z-index: 1;
	}
	#contactHomeIconTablet{
		position: absolute;

	}
	/* First Name / Last Name / Email / Message */
	p.contactExpectedTablet{
		font-size: small;
		margin-right: 22%;
	}

	#contactFirstnameTablet{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 57%;
		top: 31%;
		left: 33%;
		color: white;
	}
	
	#contactFirstnameTablet input{
		position: absolute;
		padding-left: 1%;
		font-size: small;
		height: 67%;
		left: 23%;
		max-width: 31%;
		background-color: white;
	}
	#contactLastnameTablet{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 57%;
		top: 36%;
		left: 33%;
		color: white;
	}
	#contactLastnameTablet input{
		position: absolute;
		padding-left: 1%;
		font-size: small;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactEmailTablet{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 57%;
		top: 41%;
		left: 33%;
		color: white;
	}
	#contactEmailTablet input{
		position: absolute;
		padding-left: 1%;
		font-size: small;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactMessageTablet{
		position: absolute;
		top: 46%;
		left: 46%;
		color: white;
	}
	#contactTextareaTablet{
		position: absolute;
		padding-left: .3%;
		top: 50%;
		left: 34%;
		width: 33.5%;
		height: 15%;
		background-color: white;
	}
	#contactSubmitButtonTablet{
		position: absolute;
		top: 66%;
		left: 45.5%;
		width: 11%;
		height: 2%;
		padding: .2%;
	}
}


@media only screen and (min-width: 600px) and (max-width: 699px){

	#contactpageContainerMobile{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/phone-image-full-edited.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		margin: auto;
		padding: 0;
	}

	#contactLogoImageMobile{
		position: absolute;
		width: 10%;
		height: 5%;
		top: 1%;
		left: 46%;
		z-index: 1;
	}
	#contactHomeIconMobile{
		position: absolute;
	}

	#contactFirstnameMobile{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 61%;
		top: 31%;
		left: 33%;
		color: white;
	}
	
	#contactFirstnameMobile input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		font-size: small;
		left: 23%;
		max-width: 31%;
		background-color: white;
	}
	#contactLastnameMobile{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 61%;
		top: 36%;
		left: 33%;
		color: white;
	}
	#contactLastnameMobile input{
		position: absolute;
		padding-left: 1%;
		font-size: small;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactEmailMobile{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 61%;
		top: 41%;
		left: 33%;
		color: white;
	}
	#contactEmailMobile input{
		position: absolute;
		padding-left: 1%;
		font-size: xx-small;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactMessageMobile{
		position: absolute;
		top: 46%;
		left: 45%;
		color: white;
	}
	#contactTextareaMobile{
		position: absolute;
		padding-left: .3%;
		top: 50%;
		left: 34%;
		width: 32%;
		height: 15%;
		background-color: white;
	}
	#contactSubmitButtonMobile{
		position: absolute;
		top: 66%;
		left: 43.5%;
		width: 13%;
		height: 2%;
		padding: .2%;
	}
	#contactpageTechIconsMobile{
		position: absolute;
		top: 6%;
		left: 12%;
		max-width: 75%;

	}
	#contactpageTechIconsMobile button{
		margin: .3em;
	}
	#contactpageComputerScreenContainerTopMobile{
		position: absolute;
		top: 28%;
		left: 33%;
		display: grid;
		min-width: 33%;
		justify-items: center;
		justify-content: center;
	}
	#contactpageComputerScreenContainerTopMobile a{
		margin-top: 20%;
	}

	#contactpageProjectSeperatingMobile{
		position: absolute;
		top: 49%;
		left: 33%;
		width: 34%;
		color: white;
		display: inline-flex;
	}
	#contactpageLeftHorizontalMobile{
		width: 24%;
	}
	#contactpageRightHorizontalMobile{
		width: 25%;
	}
	#contactpageProjectLinksMobile{
		position: absolute;
		top: 57%;
		left: 33%;
		min-width: 33%;
		justify-items: center;
		justify-content: center;
		min-height: 12%;
		display: grid;
	}

}



@media only screen and (max-width: 599px){
	#contactpageContainerPhone{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("../../Media/phone-image-full-edited-cropped.png");
		background-size: 120% 100%;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		margin: auto;
		padding: 0;
	}
	#contactBackgroundImagePhone{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -10;
	}
	#contactLogoImagePhone{
		position: absolute;
		width: 10%;
		height: 5%;
		top: 1%;
		left: 46%;
	}
	#contactHomeIconPhone{
		position: absolute;
		top: 88.8%;
		left: 44.9%;
	}
	/* First Name / Last Name / Email / Message */
	p.contactExpectedPhone{
		font-size: small;
		margin-right: 22%;
	}

	#contactFirstnamePhone{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 87%;
		top: 31%;
		left: 23%;
		color: white;
	}
	
	#contactFirstnamePhone input{
		position: absolute;
		padding-left: 1%;
		height: 67%;
		font-size: small;
		left: 23%;
		max-width: 31%;
		background-color: white;
	}
	#contactLastnamePhone{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 87%;
		top: 36%;
		left: 23%;
		color: white;
	}
	#contactLastnamePhone input{
		position: absolute;
		padding-left: 1%;
		font-size: small;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactEmailPhone{
		position: absolute;
		display: -webkit-inline-box;
		width: 100%;
		max-width: 87%;
		top: 41%;
		left: 23%;
		color: white;
	}
	#contactEmailPhone input{
		position: absolute;
		padding-left: 1%;
		font-size: xx-small;
		height: 67%;
		left: 23%;
		width: 31%;
		background-color: white;
	}
	#contactMessagePhone{
		position: absolute;
		top: 46%;
		left: 42%;
		color: white;
	}
	#contactTextareaPhone{
		position: absolute;
		padding-left: .3%;
		top: 50%;
		left: 23%;
		width: 54%;
		height: 15%;
		background-color: white;
	}
	#contactSubmitButtonPhone{
		position: absolute;
		top: 66%;
		left: 36.5%;
		width: 25%;
		height: 2%;
		padding: .2%;
	}
}