
@media only screen and (max-width: 500px){
	#headerContainer{
		position: relative;
		margin: 0;
		top: 0;
		left: 0;
		display: inline-flex;
		width: 100%;
		height: auto;
		background-color: transparent;
		color: white;
		font-size: 12px;
		text-align: right;
		z-index: 1;
	}
	/*Container that holds links 'About, Work...*/
	.navlink-container{
		display: none;
		align-self: center;
		margin-left: auto;

	}
	#logo{
		padding-left: 1em;
		font-size: 26px;
		text-align: left;
	}
	/*The actual link names*/
	.nav-links{
		font-size: 22px;
		margin-right: .5em;
		padding-right: .5em;

	}

   /*Everything related to creating and maintaining hamburger button 
	below (Under 500px)*/
	#hamburgerSection{
		width: 100%;
		margin-right: 2.5em;
		margin-top: 2em;

	}
	#hamburgerButtonContainer{
		/*Width and Height stop the img from "jumping" on click*/
		width: 25px;
		height: 25px;
		float: right;
		background-color: transparent;
		z-index: 10;
	}
	/* These are the horizontal bars making up hamburgerButton*/
	.bars {
	    width: 25px;
	    height: 5px;
	    background-color: white;
	    margin: 6px 0;
	    transition: 0.4s;

	}

	/*Transforming bars*/
	.togglebar1{
		transform: rotate(-45deg) translate(-2px, 3px);
	}
	.togglebar2{
		display: none;

	}
	.togglebar3{
		transform: rotate(45deg) translate(-3px, -6px);
	}

	#hamburgerButton:hover{
		
	}

	/*Mobile is under 500px width*/
	#mobileNav{
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		display: none;
		min-width: 100%;
		height: 100vh;
		background-color: rgba(51, 3, 3, 0.9);
		z-index: -100;
	}
	.nav-links-mobile{
		font-size: 28px;
		margin-top: 3em;
		margin-right: .5em;
		padding-right: .5em;
		text-align: center;

	}
	.nav-links-mobile:hover{
		background-color: darkgrey;

	}
}