

#aboutTitle{
    color: white;
    font-size: 18px;
    margin: 0;
}
#aboutMe{
    background-color: black;
    color: white;
    /* Used as a Margin-top. Margin-top adds white color */
    border-top: 1em solid black;
}
#aboutMe p{
    text-align: center;
    margin: 0;
}

#cardDescription{
    font-size: 18px;
}
div .card{
    z-index: 0;
}

.card .card-title{
    font-size: 24px;
    padding-left: 20px;
}
div .workExperience {
    color: white;
}
div .workDescription{
    font-size: 16px;
    padding: .3em;
    margin-left: .2em;
    margin-right: .2em;
}
.card p a{
    font-size: 20px;
}

.card .card-content{
    color: white;
    background-color: black;
}

/* Carousel and slider-wrapper allow duv to takes up the whole screen instead of 400px */
.carousel{
    height: auto;
}
.slider-wrapper{
    height: 50em !important;
}